form div {
    margin-bottom: 15px;
    background: white;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the submit button */
.prijava-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #d282cb;
    /* Pink background */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c071bb;
    /* Slightly darker pink on hover */
}

/* Styling for the message */
p {
    text-align: center;
    color: red;
}